@{
    ViewData["Title"] = "Jugar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Juego.css">
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/9/393/png-transparent-trivia-crack-no-ads-quiz-logo-game-android-game-smiley-crack-thumbnail.png" type="image/x-icon">
    <title>Juego</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo-container">
                <img src="https://w7.pngwing.com/pngs/9/393/png-transparent-trivia-crack-no-ads-quiz-logo-game-android-game-smiley-crack-thumbnail.png" alt="Logo del Juego" class="logo">
            </div>
            <div class="user-score">
                <span class="user-label">Usuario:</span> @ViewBag.Username - <span class="score-label">Puntaje:</span> @ViewBag.PuntajeActual
            </div>
        </header>
        <main class="main">
            <div class="question">
                <p>@ViewBag.Pregunta</p>
                <img src="@ViewBag.Foto" class="question-image">
            </div>
            <div class="answers">
                @foreach(Respuesta recorrerRespuestas in ViewBag.Respuestas)
                {
                    <a href='@Url.Action("VerificarRespuesta", "Home", new {idRespuesta = @recorrerRespuestas.IdRespuesta, idPregunta = @ViewBag.Pregunta.IdPregunta})'>
                
                    </a>    
                }
            </div>
        </main>
    </div>
</body>
</html>